<form class="form-container" action="{{ url_for('add_car') }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="form-column">
        <h2 class="form-title">Car Registration Form</h2>
        <div class="form-group">
            <label for="carType">Car Type ID</label>
            <input type="number" id="carType" name="carType" class="input-field" placeholder="Enter Car Type ID">
        </div>
        <div class="form-group">
            <label for="brand">Brand</label>
            <input type="text" id="brand" name="brand" class="input-field" placeholder="Enter Car Brand">
        </div>
        <div class="form-group">
            <label for="model">Model</label>
            <input type="text" id="model" name="model" class="input-field" placeholder="Enter Car Model">
        </div>
        <div class="form-group">
            <label for="price">Unit Price (in Quetzales)</label>
            <input type="number" step="0.01" id="price" name="price" class="input-field" placeholder="Enter Unit Price">
        </div>

    </div>

    <div class="form-column">

        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number" id="quantity" name="quantity" class="input-field" placeholder="Enter Quantity Available">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" name="description" class="input-field description" placeholder="Enter Car Description"></input>
        </div>
        <div class="form-group">
            <label for="image">Image URL</label>
            <input type="text" id="image" name="image" class="input-field" placeholder="Enter Image URL">
        </div>
        <div class="btn-container">
            <button type="submit" class="submit-btn">Register</button>
        </div>
    </div>

</form>